@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #4f638c;
  line-height: 1;
  max-width: 1400px;
  margin: auto;
}

img {
  display: block;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header .container {
  background-color: #181c26;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  padding: 1em;
}

header .container .logo img {
  width: 3em;
}

header .container button {
  width: 3em;
  height: 3em;
}

header .container ul {
  display: none;
}

.content {
  padding: 1em;
}

.content img {
  padding: 2em;
  width: 20em;
}

.content .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
}

.content .project h1 {
  margin: 0;
  padding: 1em;
}

.content .project p {
  margin: 0;
}

.content .project1 {
  width: 66%;
  background-color: #4f638c;
}

.content .project1 h1 {
  padding-left: 0;
}

.content .project1 p {
  padding: 2em;
  padding-left: 0;
  padding-top: 0;
}

.content .project2 {
  margin-left: 33%;
  margin-bottom: 1em;
  background-color: #181c26;
}

.content .project2 h1 {
  padding-right: 0;
}

.content .project2 p {
  padding: 2em;
  padding-top: 0;
}

footer {
  background-color: #2b3040;
}

footer .contact-box {
  text-align: center;
  padding: 2em;
}

footer .contact-box .contact-me a {
  font-size: 1em;
  margin: 0 4em;
  padding: 1em;
  border-radius: 10em;
  background-color: #038c73;
}

footer .contact-box .social-icon {
  margin: 0.5em auto;
  padding: 1em 0;
  width: 4em;
}

footer .copyright {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #8c7251;
  padding: 0 0.5em 0.1em;
}

footer .copyright p {
  margin: 0;
}

@media only screen and (min-width: 1200px) {
  body {
    background-image: url(../assets/background/background_blur.png);
  }
  header .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .logo img {
    width: 4em;
  }
  header .container button {
    display: none;
  }
  header .container .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.4em;
    color: white;
  }
  header .container .nav__list .nav__link {
    padding: 0.8em;
  }
  header .container .nav__list .nav__item--active a {
    color: #038c73;
  }
  header .container .nav__list a:hover {
    border-radius: 1em;
    background-color: #4f638c;
  }
  footer {
    position: absolute;
    width: 100%;
    max-width: 1400px;
    bottom: 0;
  }
  footer .contact-box {
    margin: -2em;
    margin-bottom: 0;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .contact-box .contact-me {
    margin: auto;
    padding-bottom: 0;
  }
  footer .copyright {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
/*# sourceMappingURL=secondary.css.map */